:root {
    --black: #150605;
    --red: #C38154;
    --brown: #3F2305;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
}

html{
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
  
}

.homepage{
    font-family:Courier New;
margin: 0;
color: white;
}

.homepage ::before{
    content: "";
    background-image: url(images/bag.png);
    filter: brightness(0.7);
    background-size: cover;
    background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.2;
    
}
nav>h3{
    padding: 15px;
    cursor: pointer;
}

.buyNowText{
    background-color: #9FA180;
    opacity: 0.8;
    }
    .buyNowText > i{
    color: #FEFBF6;
    margin: 0;
    font-family: Courier New ;
    margin-left: 35%;
    font-size: 11px;
    
    }
    
    .bodyText{
    margin:5em 0 0 24em;
    color: #FEFBF6;
    
    }
    .bodyText >h2{
     margin-left:5em ;
     font-size: 2rem;
    }
    .bodyText >p{
        font-size: 18px;
        margin-left:9em ;
        margin-top: 3em;
       }
    
    .bodyText > button{
        background-color: #183A1D;
        color: #FEFBF6;
        margin:3em 0 0 25em;
        width: 20%;
        height: 55px;
        border-radius: 4px;
       border: 0.5px  white;
       cursor: pointer;
       -webkit-box-shadow: 0px 2px 10px -3px rgba(21,6,5,1);
       -moz-box-shadow: 0px 2px 10px -3px rgba(21,6,5,1);
       box-shadow: 0px 2px 10px -3px     rgba(21,6,5,1);
       }

main.photos {
    margin-top: 2.5%;
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(4, minmax(150px, 2fr));
    grid-auto-flow: dense;
    
}

main.cart-page {
    padding: 10px;
}

.cart-page > h2 {
    text-align: center;
}
.cart-page > h6 {
    margin-left: 70%;
}




.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button > button {
    border-color: var(--black);
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: none;
}

div.order-button > button:disabled {
    border-color: lightgray;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.quantityFigure{
    margin-right: 26%;
}

.cart-item img {
    margin-right: auto;
    margin-left: 10px;   
}
 .goHomeText{
    margin-left: 30%;
    font-size: 13px;
}

.image-grid {
    border-radius: 3.5px 3.5px 0px 0;
    -moz-border-radius:5px;
    -webkit-box-shadow: rgba(0, 0, 0, 4) 0px 5px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 4) 0px 5px 4px;
    box-shadow:  rgba(0, 0, 0, 4) 0px 5px 4px;
    width: 90%;
    height: 85%;
    object-fit: cover;
    cursor: pointer
}

.image-container {
    position: relative
  
}
.priceList{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    top:252px ;
    padding-top: 0px;
   left:30px;
   font-size:0.7rem
}

.rating{
    position: absolute;
    font-size: 30px;
    top:262px ;
    padding-top: 0px;
   left:120px;
   font-size:0.7rem
}
.imageText{
    color: #FFD89C;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
    padding-top: 0;
    background-color: var(--red);
    width: 90%;
    height: 7%;

}

.favorite {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.ri-heart-fill {
    opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
    font-size: 1.3em;
    cursor: pointer;
}
.cartNumber{
    position: absolute;
    top: 16px;
    right: 9px;
    background-color: black;
    border-radius: 50%;
    width: 1%;
    font-size: 10px;
    text-align:   center;
}

.cart {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
}
 


.head {
    background-color: #49493C;
    width: 100%;
    height: 60px;
    color: #D8C4B6;
    margin: 0;
    -webkit-box-shadow: 0px 2px 10px -3px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 10px -3px rgba(21,6,5,1);
    box-shadow: 0px 2px 10px -3px     rgba(21,6,5,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cart-sign{
    display: flex;
    align-items: center;
    justify-content:left;
    margin: 0;
    padding: 2px;
    font-size: 22px;
  
}

.bagItem{
    width:30%;
    height: 380px;
    object-fit: cover;
    margin-right: auto;
    margin-left: 3%;
    margin-top: 4%;  
    border-radius: 5px;
    
}

.bagRating{
    position: absolute;
    cursor: pointer;
    left: 55%;
   top: 26%; 
}

.arrow{
    position: absolute;
    cursor: pointer;
    left: 35%;
   top: 22%;
   padding-top: 5px;
   padding-left: 3px;
   width: 6%;
   height: 6%;
   border: 1px solid black;
}
.bagPrice{
    position: absolute;
    left: 35%;
    top: 50%;
     border-bottom: 1.5px dotted black;
     padding-left: 10%;
     padding-bottom: 5px;
     width: 20%;
}

.quantity{
    position: absolute;
    left: 35%;
    top: 62%;
    display: flex;
    gap:10px;
display: flex;
align-items: center;
width: 90%;
gap:10px;
height: 20px;
padding: 5px;
padding-bottom: 20px;

}
.plus, .minus{
    cursor: pointer;
    padding: 0  15px 2px 15px ;
    background-color:#F2EAD3;
    font-size: 1.5rem;
}

.cartButton{
    position: absolute;
    cursor: pointer;
    left: 50%;
   top: 75%;
   width: 15%;
   height: 35px;
   border-radius: 2px;
}

#addItemButton{
    background-color:var(--brown) ;
    color: var(--red);
}


a {
    text-decoration: none;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }