:root {
    --black: #150605;
    --red: #EA453C;
    --pink: #F47B6E;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
}

html, body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
  
}

main.photos {
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(4, minmax(150px, 2fr));
    grid-auto-flow: dense;
    
}

main.cart-page {
    padding: 10px;
}

.cart-page > h1 {
    text-align: center;
}



.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button > button {
    border-color: var(--black);
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: none;
}

div.order-button > button:disabled {
    border-color: lightgray;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cart-item img {
    margin-right: auto;
    margin-left: 10px;   
}

.image-grid {
    border-radius: 5px 5px 0px 0;
    -moz-border-radius:5px;
    -webkit-box-shadow: rgba(0, 0, 0, 4) 0px 5px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 4) 0px 5px 4px;
    box-shadow:  rgba(0, 0, 0, 4) 0px 5px 4px;
    width: 90%;
    height: 85%;
    object-fit: cover;
    cursor: pointer
}

.image-container {
    position: relative
  
}
.priceList{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    top:255px ;
    padding-top: 0px;
   left:30px;
   font-size:0.7rem
}

.rating{
    position: absolute;
    font-size: 30px;
    top:266px ;
    padding-top: 0px;
   left:120px;
   font-size:0.7rem
}
.imageText{
    border-radius: 0 0 5px 5px;
    margin-top: 0;
    padding-top: 0;
    background-color: var(--red);
    width: 90%;
    height: 7%;

}

.favorite {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.ri-heart-fill {
    opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
    font-size: 1.3em;
    cursor: pointer;
}

.cart {
    color: var(--pink);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
}
 


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
    color: var(--light-blue);
    padding: 0px 10px;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}


.cart-sign{
    display: flex;
    align-items: center;
    justify-content:left;
    margin: 0;
    padding: 2px;
    font-size: 22px;
  
}

.bagItem{
    width:30%;
    height: 370px;
    object-fit: cover;
    margin-right: auto;
    margin-left: 35%;  
    border-radius: 7px;
}


a {
    text-decoration: none;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }